body {
  background-color: #ea0000;
  font-family: 'Open Sans', sans-serif;
}

#pokedex-container {
  background-color: white;
  border-radius: 15px;
  margin: 0 auto;
  padding: 15px;
  text-align: center;
  height: 580px;
  width:450px;
}
#buscador{
  position:relative;
  right:-75px
}
#boton-buscador {
  position: relative;
  right:-75px
}
#anterior-pokemon {
position: relative;
bottom: -40px;
left: -220px
}
#siguiente-pokemon {
  position:relative;
  bottom: -40px;
  right: 70px
}
#nombre-pokemon {
  font-weight: 900;
  font-size: x-large;
  position:relative;
  bottom: -30px
}
#pokemon-logo {
  margin: 0 auto;
  width: 400px;
}

#pokemon-image {
  margin: 0 auto;
  width: 225px;
}

img[src=""] {
  display: none;
}